/* Estilos Universales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos al HTML y Body */

html {
    scroll-behavior: smooth;
}

body {
    font-family: playSemiBold, sans-serif;
    font-size: 16px;
}

/* Estilos Basicos a elementos */

h2 { font-size: 1.7rem;}
h3 { font-size: 1.8rem;     color: rgb(180, 145, 47);}


ol, ul { list-style: none;}

a { text-decoration: none;}

img { max-width: 100%;}

/* --- Contenedor Principal --- */


/* --- Estilos para el Video de Fondo --- */

.video_de_fondo__container {
    position: fixed;
    overflow: hidden;
    z-index: -1;
    width: 100%;
    
    min-height: 100%;
}

@media screen and (min-width: 650px) {
    .video_de_fondo__container {
        display: flex;
        justify-content: center;
    }
}

.videoFondo {
    width: auto;
    min-height: 100%;

}

.videoFondo > video {
    min-height: 100vh;
}

.videoFondo__outline {
    width: 100%;
    min-height: 100%;
    background-color: #00000052;
    position: absolute;
}

/* Programadores Hijos de su p madre /\ lo de arriba no lo toquen me costo trabajo entenederlo*/

/* END */


/* --- Header --- */

.header {
    position: sticky;
    top: 0;
    transition: 1s;

    container-type: inline-size;
    container-name: header;
}

.header__cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    padding: 4px;
}

/* --- --- --- --- --- */

.header_outline {
    background-color: #222;
    background-image: linear-gradient(rgba(63, 63, 63, 0.5),rgba(48, 48, 48, 0.397)),url(/Media/IMG/Header/fondo_header_h.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    border-bottom: 3px solid rgb(180, 145, 47);
    opacity: 0;
    animation: fadeIn 0.5s forwards;

}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.header__label {
    display: flex;
    align-items: center;
    padding: 10px 6px;
}

.header__label img {
    width: 44px;
    height: 44px;
}

.header__cont > input {
    display: none;
}

.header__logo {
    color: #fff;
    display: none;
    margin-left: 10px;
}

.header__logo img {
    width: 64px;
    height: 64px;
    border-radius: 8px;

}

/* --- --- --- --- --- */

.header__nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #222;
    background-image: linear-gradient(rgba(63, 63, 63, 0.5),rgba(0, 0, 0, 0.5)),url(/Media/IMG/Header/fondo_header_h.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header__nav--list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.header__nav--list--item a {
    padding: 10px;
    color: #fff;
    font-size: 1.4rem;
}

.header__nav__copyright {
    color: #fff;
    font-size: 0.7rem;
    padding: 20px 10px;
}

.header__nav__contLogo img {
    width: 86px;
    height: 86px;
}

/* Funcionalidad del Menu */

#boton_menu {
    display: none;
}

#boton_menu:checked ~ .header__nav {
    display: flex;
    
}

/* HEader Queries */

@container header (min-width: 800px){

    .header__cont {
        padding: 20px;
    }

    .header__nav__contLogo {
        display: none;
    }

    .header__nav__copyright {
        display: none;
    }

    .header__nav {
        display: flex;
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: transparent;
    }
    
    .header__nav--list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;
    }
    
    .header__label {
        display: none;
    }

}

/* Section Hero */

.section__hero {
    container-type: inline-size;
    container-name: hero;
}

.hero__container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 10px;
    color: #fff;

    
}

/* --- --- --- --- --- */

.hero__logo {
    position: relative;
    z-index: -1;
    top: -70px;
    display: flex;
    margin-left: 10px;
}

.hero__logo > img {
    width: 72px;
    height: 72px;
    opacity: 0.7;
}

/* --- --- --- --- --- */

.hero__p_entidad {
    margin-left: 10px;
}

/* --- --- --- --- --- */

.hero__slogan > h2 {
    text-transform: uppercase;
}

/* --- --- --- --- --- */

.hero__contactar {
    margin-top: 120px;
}

.hero__contactar > a {
    margin-left: 10px;
    padding: 10px 32px;
    border: 2px solid #fff;
    color: #fff;
}
/* --- --- --- --- --- */

/* Hero Queris */

@container hero (min-width: 600px){
    .hero__slogan > h2 {
        text-transform: uppercase;
        font-size: 2.4rem;
    }
    
}

/* --- --- --- --- --- */
/* --- --- --- --- --- */
/* --- --- --- --- --- */
/* --- --- --- --- --- */
/* --- --- --- --- --- */
/* --- --- --- --- --- */

/* --- Section Sobre Nosotros --- */

.section__nosotros {
    background-color: #3d3d3d;
    background-image: url(/Media/IMG/AcercaDeNosotros/fondo_nosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #e4e4e4;
    border-top: 3px solid rgb(180, 145, 47);
    border-bottom: 3px solid rgb(180, 145, 47);

    padding: 60px 20px;
}

.nosotros__data--info1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotros__data--info1 > h3 {
    font-size: 2.5rem;
}

.nosotros__cont {
    container-type: inline-size;
    container-name: nosotros_data;
}

.nosotros__data {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
}

.nosotros__data > div {
    background-color: #00000011;
    padding: 10px;
    border-radius: 12px;

}

.nosotros__data__img {
    max-width: 400px;
    
}

@container nosotros_data (min-width: 650px) {
    
    .nosotros__data {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .nosotros__data__img {
        grid-column: 1 / 1;
        grid-row: 1 / 2;
    }
}

/* Seccion Programa */

.section__programa {
    background-color: #3d3d3d;
    container-type: inline-size;
    container-name: programa;
}

.programa__container {
    padding: 52px 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 40px;
    color: #fff;
}

/* Programa Queris */

@container programa (min-width: 650px) {
    .programa__container {
        grid-template-columns: repeat(2, minmax(auto, 500px));
    }   
}

/* --- Contacto --- */

.section__contacto{
    background-color: #3d3d3d;
    background-image: url(/Media/IMG/AcercaDeNosotros/fondo_nosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;

    border-top: 3px solid rgb(180, 145, 47);
    border-bottom: 3px solid rgb(180, 145, 47);
}

.contacto__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 120px 20px;
}

.contacto__container span {
    font-weight: 800;
}

.contacto__container p {
    font-size: 1.5rem;
}

.contacto__container > h2 {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(180, 145, 47);
}

/* --- Footer --- */

.footer {
    color: #fff;
    background-color: #222;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
}
